# Bech32 address prefix, for example cosmos.
prefix = "cosmos"

# App name. The binary and node home use `${chain-name}d`.
chain-name = "evm"

# Chain ID.
chain-id = "9001"

# Native denoms.
# The first denom is used as the default denom, gentx denom, and default pre-mine denom.
denoms = ["atest"]

# Keyring backend used during initialization.
# Local dev uses test by default. Runtime client.toml switches to file.
keyring = "test"

# Optional validator key config.
# Array order maps to validator index.
# [[validators]]
# name = "node0"
# mnemonic = "october pride genuine harvest reunion sight become tuna kingdom punch girl lizard cat crater fee emotion seat test output safe volume caught design soft"
#
# Accounts to pre-mine in genesis.
# You can use either bech32 addresses or 0x addresses.
pre-mine-accounts = [
  "0x00000be6819f41400225702d32d3dd23663dd690",
  "0x1111102dd32160b064f2a512cdef74bfdb6a9f96",
]

# EVM private keys imported into the node0 keyring.
private-keys = [
  { name = "alice", key = "f78a036930ce63791ea6ea20072986d8c3f16a6811f6a2583b0787c45086f769" },
  { name = "bob", key = "95e06fa1a8411d7f6693f486f0f450b122c58feadbcee43fbd02e13da59395d5" },
]

# Default pre-mine amount per account.
# Applied to:
# 1. Accounts in pre-mine-accounts
# 2. All node{i} accounts
pre-mine-per-account = "10000000000000000000000000"

# Dynamic overrides for genesis.json.
# Each entry is executed directly against the genesis object.
genesis-cfg = [
  "app_state.gov.params.voting_period='6s'",
  "app_state.gov.params.expedited_voting_period='5s'",
  "app_state.feemarket.params.min_gas_price='10000000000.000000000000000000'",
  "app_state.feemarket.params.base_fee='10000000000'"
]

# Dynamic app.toml config.
# Any field defined here is written directly to the matching app.toml path.
[app]
minimum-gas-prices = "0atest"
pruning = "nothing"

[app.mempool]
max-txs = -1

[app.api]
enable = true
swagger = true
enabled-unsafe-cors = true

[app.grpc]
enable = true

[app.grpc-web]
enable = true
enable-unsafe-cors = true

[app.json-rpc]
enable = true
api = "eth,txpool,personal,net,debug,web3"
enable-indexer = true

# Dynamic comet config.toml config.
# Any field defined here is written directly to the matching cometbft config.toml path.
[cometbft.consensus]
timeout-commit = "1s"

[cometbft.mempool]
type = "flood"

[cometbft.rpc]
cors-allowed-origins = ["*"]
pprof-laddr = ""

[cometbft.p2p]
addr-book-strict = false
pex = false
allow-duplicate-ip = true
seeds = ""
